= content_for :title do
	= "OneProsper About Us"
%h1 About
%p
  OneProsper International is a Canadian non-profit corporation and registered charity.
  %br
  Canadian Charitable Registration Number 802094458RR0001
%p
  %strong Board of Directors
  %br
  Raju Agarwal – Founder and Executive Director MBA, MS.MIS
%p Rohit Bhapkar – Partner at McKinsey &amp; Company Toronto
%p Greg Boyle – Managing Partner, Stonewood Group Ottawa
%p David Cork – Partner, The Cork Brazeau Group
%p
  Dr. Atul Humar – Director of Transplant Infectious Diseases, University of Alberta
  %br
  Recipient of Canada’s Top 40 Under 40 Award
%p Vilok Kusumakar – Director, Research in Motion
%p Dr. Arvind Joshi – CEO of St. Mary’s Hospital, Montreal
%p Alex Moore – Partner at Davies Ward Phillips & Vineberg LLP
%p Kithmini Palihapitiya – RBC Dominion Securities – Client Relationship Advocate
%p Mark Saunders – Director of Fun at Saunders Farm
%p
  Laurie Simmonds – CEO of Green Living Enterprises
  %br
  Recognized as one of Canada’s 100 Most Powerful Women by WXN
%p Praveen Varshney – CEO of Varshney Capital, Vancouver
%p Dhruv Vyas – Student at Western University
%p
  %strong Our Partners:
%p
  %strong In-Kind Partners:
  %br
  Mars SiG
  %br
  Fasken Martineau
  %br
  Oak Computing
  %br
  %a{:href => "http://www.topsearchresult.ca", :onclick => "javascript:_gaq.push(['_trackEvent','outbound-article','http://www.topsearchresult.ca']);", :target => "_blank"} Topsearchresult.ca
  \- Online Marketing , Kelowna BC
%p
  %strong> 2011 Gold Donors
  ($10,000 and over)
  %br
  Donner Canadian Foundation
  %br
  SunOpta Corporation
%p
  %strong> 2011 Silver Donors
  ($5,000 – $9,999)
%p
  %strong> 2011 Bronze Donors
  ($1,000 – $4,999)
  %br
  Mr. Ramesh Aggarwal
  %br
  Bridge Street Church Foundation
  %br
  Canada Helps
  %br
  Mr. Sudhir Handa
  %br
  Mr. Anand Jain
  %br
  Dr. Arvind K. Joshi
  %br
  Mr. Ronald Little
