%h1 Impact
%p In June 2011, we completed our pilot drip irrigation project with small farmers in the State of Andhra Pradesh, India. Drip irrigation kits of one acre each were provided to twenty small farmers from two disadvantaged communities (Scheduled Caste, Other Backward Caste) on a cost-sharing basis (the beneficiary pays 25% of the cost).
%p Small farmers realized the following benefits from drip irrigation:
%ul
  %li 50% reduction in fertilizer cost as a result of using organic water soluble fertilizer
  %li 78% increase in crop yields
  %li 116% increase in incomes
  %li 30% water savings
%table{:border => "1", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tbody
    %tr{:bgcolor => "#cccccc"}
      %th{:width => "300px"} Photo
      %th{:width => "200px"} Name
      %th Crops
    %tr
      %td{:style => "text-align: left;"}
        =image_tag("impact.jpg", :alt => "impact", :height => "225",:width => '300')
      %td{:style => "text-align: center;"} A. Veeraswamy
      %td{:style => "text-align: center;"} Tomato
    %tr
      %td
        =image_tag("impact1.jpg", :alt => "impact1", :height => "225",:width => '300')
      %td{:style => "text-align: center;"}  M. Ashok
      %td{:style => "text-align: center;"}  Okra, Ridge Gourd
    %tr
      %td
        =image_tag("impact2.jpg", :alt => "impact2", :height => "225",:width => '300')
      %td{:style => "text-align: center;"} A. Ellaiah
      %td{:style => "text-align: center;"} Okra
    %tr
      %td
        =image_tag("impact3.jpg", :alt => "impact3", :height => "225",:width => '300')
      %td{:style => "text-align: center;"} G. Karunakar
      %td{:style => "text-align: center;"} Corn
    %tr
      %td
        =image_tag("impact4.jpg", :alt => "impact4", :height => "225",:width => '300')
      %td{:style => "text-align: center;"} P. Pramila
      %td{:style => "text-align: center;"} Corn
    %tr
      %td
        =image_tag("impact5.jpg", :alt => "impact5", :height => "225",:width => '300')
      %td{:style => "text-align: center;"} A.Rajaiah
      %td{:style => "text-align: center;"} Egg Plant
    %tr
      %td
        =image_tag("impact6.jpg", :alt => "impact6", :height => "225",:width => '300')
      %td{:style => "text-align: center;"} M.Raju Kumar
      %td{:style => "text-align: center;"} Tomato
    %tr
      %td
        =image_tag("impact7.jpg", :alt => "impact7", :height => "225",:width => '300')
      %td{:style => "text-align: center;"} Md.Ramjan
      %td{:style => "text-align: center;"} Corn
    %tr
      %td
        =image_tag("impact8.jpg", :alt => "impact8", :height => "225",:width => '300')
      %td{:style => "text-align: center;"} Shatti-Kumar
      %td{:style => "text-align: center;"} Egg Plant
    %tr
      %td
        =image_tag("impact9.jpg", :alt => "impact9", :height => "225",:width => '300')  
      %td{:style => "text-align: center;"} D.Veeraswamy
      %td{:style => "text-align: center;"} Tomato
    %tr
      %td
        =image_tag("impact10.jpg", :alt => "impact10", :height => "225",:width => '300') 
      %td{:style => "text-align: center;"} N.Yadagiri
      %td{:style => "text-align: center;"} Egg Plant
