%h1 Mission
%div
  %p
    To reduce world hunger and improve nutrition by providing small farmers with innovative drip irrigation kits.
    %br
    We are focussed on India where 42% of children, below age five, are malnourished.
  %table
    %tbody
      %tr
        %td
          = image_tag("mission1.jpg", :alt => "mission1", :height => "320",:width => '480')
      %tr
        %td
          = image_tag("mission2.jpg", :alt => "mission2", :height => "320",:width => '480')
      %tr
        %td
          = image_tag("mission3.jpg", :alt => "mission3", :height => "320",:width => '480')
