%h1 Our Model
%p
  %em
    “Three-quarters of the world’s poorest people get their food and income by farming small plots of land. So if we can make smallholder farming more productive and more profitable, we can have a massive impact on hunger and nutrition and poverty.
    %br/
    Melinda and I believe that helping the poorest smallholder farmers grow more crops and get them to market is the world’s
    = succeed "for" do
      %strong single most powerful lever
    reducing hunger and poverty.”
%p Bill Gates – World Food Prize Symposium – October 15, 2009.
%p
  %strong The Challenge
  %br/
  Roughly 100 million smallholder farmers in India live on less than $1 a day and 500 million are part of small farmer families. This represents more than 30% of the world’s extreme poor. Water scarcity is the key bottleneck to improving crop yields of smallholder farmers.
  %br/
  %strong   %br/
  %strong What We Do
  %br/
  1. We provide poor small farmers in India with drip irrigation kits along with organic fertilizers
  %br/
  2. We honestly measure and carefully report the impact
%p
  %strong The Innovation – Drip Irrigation
  %br/
  Delivers small amounts of water directly to the plant root – enabling small farmers to double their incomes within one harvest.
%p
  %em
    “Our Government wants a food safety net in which no citizen of ours would go hungry. This requires enhanced agricultural production which is possible only by increasing productivity.
    %br/
    We need technology, which would address the needs of dry land agriculture.”
%p
  Dr. Manmohan Singh, Prime Minister of India – Independence Day Address – August 15, 2010
  %br/
