= content_for :title do
	= "OneProsper Vision"
%h1 The Vision
%p The students operations aims to spread awareness, and engage students across Canada in empowering small farmers. Concurrently, it aims to empower its youth leaders, and volunteers by being a venue where students can be educated and become equipped with the right tools to make a positive impact in their community, and the world. If you are a youth in Canada that’s interested in changing lives forever, we want you on the team!
