%h1
  = @campaign_friend.campaign.name
.row
  .span8
    = render 'video', :campaign_friend=>@campaign_friend
  .span4
    = render 'projects/donation', :project=>@campaign_friend.campaign.project
%br
%h1 Farmer Details
.row
  .span12
    = render 'projects/farmer', :project=>@campaign_friend.campaign.project