%li.project_details{:class => (active ? "project-active" : nil)}
  - path = "before_thumb.jpeg"
  - if not project.photos.empty? 
    - path = photo_path(project.photos[0])
  = image_tag(path, 
    :data => {:farmer => project.farmer, :description => project.description,
              :target => project.target, :current => project.current,
              :id => project.id})
