.hero-unit.project_sidebar
  %h2
    Thanks for your donation
  #{@project.farmer} thanks you for your contribution of #{@donation.readable_amount}
  %br
  %br
  = render 'farmer', :project=>@project
