<%content_for :title do %>
  <%"Edit project"%>
<%end%>
<h1>Editing project</h1>

<%= render 'form' %>

<%= link_to "Back to project's info", @project %> |
<%= link_to 'Back to project list', projects_path %>
