<h1>Listing projects</h1>

<ul class="unstyled clearfix projectlist">
<% @projects.each do |project| %>
  <%= link_to project_path(project) do %>
    <%= render 'list', :project => project %>
  <% end %>
<% end %>
</ul>
