.row
  .span2
    = friend.name
  .span2
    = friend.email
  .span2
    = friend.sent_count
  .span2
    = friend.opened
  .span2
    =link_to "Send Now" ,track_campaign_path(:friend=>friend)
    -#= mail_to friend.email, friend.name, :subject=>friend.email_subject, :body=>friend.email_template, :action=>'campaign#sent'
