%Center
  %h1 Message Confirm Webpage
  %br
  %br
  %p{:style =>@friend.opened==1? "color:green":"color:red"}
    -if @friend.opened==0
      "Oh, I havent send the mail to you yet...."
    -elsif @friend.opened ==1
      Thankyou for Confirmation
    -else
      "You Already Confirmed You Read The Mail"


  %br
  %br
  = link_to "Back to Previous Page", manager_campaign_path(@campaign)
  %br
  = link_to "Back to Campaign Manger", dashboard_path()
