%h1 Send your Donation Requests!

%h3 Message Template
%b Subject:
%br
  -if not @campaign.nil?
    =@campaign.email_subject
%br
%b Body:
%br
  -if not @campaign.nil?
    = @campaign.template

%h3 Send Emails
.row
  .span3
    %b Name
  .span5
    %b Email address
  .span4
    %b Send!
-if not @campaign.nil?
  - @campaign.campaign_friend.each do |friend|
    = render 'send_friend', :friend => friend
