= content_for :title do
  ="Campaign: Add video"
%h1 Add a Video

= form_tag submit_video_campaign_path(), :method => :put do 
  %p Record a video or link to a video on youtube!
  %br
  
  = render 'video'

  %br
  = submit_tag 'Next'
