/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

div.howitworks {  
 border:2px solid;
 border-radius:25px;
 background-color:#FFFFFF;
 border-color:#CCCCCC;
 padding-left:20px;
 th{
    color:rgb(0,128,255);
    font-weight:bold;
    font-size:180%;
 }
} 

div.updates {  
 border:2px solid;
 border-radius:25px;
 border-color:#CCCCCC;
 background-color:#FFFFFF;
 padding-left:20px;
 th{
    font-weight: bold;
    color:#DEB887;
    font-size:180%;
 }

 td{
  font-weight:bold;
 }
 a:link {text-decoration:none; color:#5CB8E6;}    /* unvisited link */
 a:visited {text-decoration:none;} /* visited link */
 a:hover {text-decoration:underline;}   /* mouse over link */
 a:active {text-decoration:underline;}  

} 

div.circle {
  background-color:#74b446;
  color:#fff;
  display: inline-block;
  margin-right:10px;
  padding:3px;width:28px;
  text-align:center;
  -moz-border-radius:50px;
  -webkit-border-radius:5px;
  border-radius:50px;
}

div.frontpage{
  background-color:#E1FFE1;
}

div.update-table{

	background-color: #f5f5f5;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #ebebeb;

 td, th {
	padding: 1px 5px;
 }
 
 thead {
	font: normal 20pt Helvetica Neue,Helvetica,sans-serif;
	text-shadow: 0 1px 0 white;
	color: #999;
 }
 th {
	text-align: left;
	border-bottom: 1px solid #fff;
 }
 td {
	font-size: 14pt;
 }
 td:hover {
	background-color: #fff;
 }
 
 td.date {
    font-size: 14px;
 }
}

img.logo {
  position: relative;
  top :10px;
}
