$barColor : #4B9123;
$white: #FFFFFF;
body {
  background-color: rgb(225,255,225);
}


.navbar{
  border-botton-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: darken($barColor, 9%);
  margin-bottom: 0;
}
.box-unit {
  background-color: white;
  border: 2px solid rgb(0,64,0);
  border-radius: 25px;
  moz-box-shadow: 8px 8px 5px #888;
  webkit-box-shadow: 8px 8px 5px #888;
  box-shadow: 8px 8px 5px #888;
  padding: 0px 5px 0px 5px;
  img {
    height: 85%;
  }
}

.progress {
  width: 90%;
}
#bar {
  height: 40px;
  padding-top: 5px;
  background-color: $barColor;
  color: $white;
  width: 100%;
  text-align: center;
  padding-top:10px;
  padding-bottom:10px;

  > .container > h3 {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
  }
}

.center {
  margin: 0 auto;
}

.project_sidebar {
  padding: 0;
  word-wrap: break-word;
}

.smallprojectlist {
  li {
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 0px;
  }
  .project-active {
    border-color: white;
    border-style: solid;
    border-width: 3px;
    margin-top: -3px;
    margin-left: -3px;
    margin-right: 17px;
    margin-bottom: 2px;
  }
  .project_details {
    float: left;
    margin-right: 20px;
    padding: 0;
    word-wrap: break-word;
    img {
      max-width: 150px;
      max-height: 150px;
    }
  }
}
.projectlist {
  .project_details {
    border: 2px solid rgb(0,64,0);
    border-radius: 25px;
    moz-box-shadow: 8px 8px 5px #888;
    webkit-box-shadow: 8px 8px 5px #888;
    box-shadow: 8px 8px 5px #888;
    background-color: white;
    width: 80%;
    height: 180px;
    margin-right: auto;
    margin-left: auto;
    word-wrap: break-word;
    font-size:16px;
    
  }
  .title {
    color: rgb(0,64,0);
  }
  .current {
    color: rgb(0,85,170);
  }

}

#donation-box {
  .header {
    text-align: center;
    color: #5CB8E6;
  }
  #donation_amount {
  width: 60px;
  }
}

#progress-box{
  padding: 0px;
  text-align: center;
  .progress.progress-stripe.active {
    margin-left: auto;
    margin-right: auto;
  }
}
.pagination {
  display: inline;
}
#project_link {
  vertical-align: top;
  margin-left: 30px;
}
input.video-select {
  height: 100%;
  margin-right: 40px;
  vertical-align: middle;
}
label.unstyled-label {
  margin-right: 20px;
}

.title {
  color: rgb(0,64,0);
  word-wrap: break-word;
}

.farmer-pic {
  max-width: 400px;
}

#picture-donate {
  img {
    margin: 15px 15px 15px 15px;

  }
}
#stripe-section {
  form {
    margin: 20px;
  }
}

.description {
  word-wrap: break-word;
}

#galleria {
  max-width: 80%;
  height: 400px;
  cursor: pointer;
}

#farmer-info.box-unit {
  padding: 5px 10px 5px 10px;
}

