$barColor : #4B9123;
$white: #FFFFFF;
body {
  background-color: rgb(225,255,225);
}


body {
  background-color: rgb(225,255,225);
}

.hero-unit{
  h1,h2,h3,h4,h5,h6{
    color: rgb(0,64,0);
  }
}

.navbar{
  border-botton-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: darken($barColor, 9%);
  margin-bottom: 0;
}
.box-unit {
  background-color: white;
  border: 2px solid rgb(0,64,0);
  border-radius: 25px;
  moz-box-shadow: 8px 8px 5px #888;
  webkit-box-shadow: 8px 8px 5px #888;
  box-shadow: 8px 8px 5px #888;
  padding: 5px 5px 5px 5px;
  margin: 0px 0px 15px 0px;
  img {
    height: 85%;
  }
}

.progress {
  width: 90%;
}
#bar {
  min-height: 40px;
  padding-top: 5px;
  background-color: $barColor;
  color: $white;
  width: 100%;
  text-align: center;
  padding-top:10px;
  padding-bottom:10px;

  > .container > h3 {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
  }
}

.center {
  margin: 0 auto;
}

.project_sidebar {
  padding: 0;
  word-wrap: break-word;
}

.project-section
{
  border: 2px solid rgb(0,64,0);
  border-radius: 20px 20px 20px 20px;
  background-color: white;
  /*padding-left: 10px;*/
  /*padding-right: 10px;*/
  padding: 10px 5px 10px 5px;
}

.smallprojectlist {
  li {
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 0px;
  }
  .project-active {
    border-color: green;
    border-style: solid;
    border-width: 3px;
    margin-top: -3px;
    margin-left: -3px;
    margin-right: 17px;
    margin-bottom: 2px;
  }
  .project_details {
    float: left;
    margin-right: 20px;
    padding: 0;
    word-wrap: break-word;
    img {
      max-width: 120px;
      max-height: 120px;
    }
    img:hover {
      opacity: 0.7;
      filter:alpha(opacity=70);
    }
  }
}
.projectlist {
  .project_details {
    border: 2px solid rgb(0,64,0);
    border-radius: 25px;
    moz-box-shadow: 8px 8px 5px #888;
    webkit-box-shadow: 8px 8px 5px #888;
    box-shadow: 8px 8px 5px #888;
    background-color: white;
    width: 80%;
    height: 180px;
    margin-right: auto;
    margin-left: auto;
    word-wrap: break-word;
    font-size:16px;
    
  }
  .title {
    color: rgb(0,64,0);
  }
  .current {
    color: rgb(0,85,170);
  }

}

#donation-box {
  .header {
    text-align: center;
    color: #5CB8E6;
  }
  #donation_amount {
  width: 60px;
  }
}

#progress-box{
  padding: 0px;
  text-align: center;
  .progress.progress-stripe.active {
    margin-left: auto;
    margin-right: auto;
  }
}
.pagination {
  display: inline;
}
#project_link {
  vertical-align: top;
  margin-left: 30px;
}
input.video-select {
  height: 100%;
  margin-right: 40px;
  vertical-align: middle;
}
label.unstyled-label {
  margin-right: 20px;
}


div.howitworks {  
 border:2px solid;
 border-radius:25px;
 background-color:#FFFFFF;
 border-color:rgb(0,64,0);
 padding-left:20px;
 overflow: auto ;
 
 th{
    color:rgb(0,85,170);
    font-weight:bold;
    font-size:h4;
 }
 width:90%;
 height:211px;

} 

div.updates {
 overflow:hidden;
 width:215px;
 height:215px;
 border:2px solid;
 border-radius:25px;
 border-color:rgb(0,64,0);
 background-color:#FFFFFF;
 padding-left:4px;
 div.lead{
   font-weight:bold;
   color: rgb(0,85,170);
 }

 a{
   font-weight: bold;
 }
 a:link {text-decoration:none; color:#5CB8E6;}    /* unvisited link */
 a:visited {text-decoration:none; color: purple} /* visited link */
 a:hover {text-decoration:underline;}   /* mouse over link */
 a:active {text-decoration:underline;}  
 a.header:link{color: rgb(0,85,170);}
 a.header:visited {color: rgb(0,85,170);}
} 

div.circle {
  background-color:#74b446;
  color:#fff;
  display: inline-block;
  margin-right:10px;
  padding:3px;width:28px;
  text-align:center;
  -moz-border-radius:50px;
  -webkit-border-radius:5px;
  border-radius:50px;
}

div.content{
  background-color:#E1FFE1;
}
.push-down {
  padding-top: 20px;

}

div.update-table{

	background-color: #f5f5f5;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #ebebeb;

 td, th {
	padding: 1px 5px;
 }
 
 thead {
	font: normal 20pt Helvetica Neue,Helvetica,sans-serif;
	text-shadow: 0 1px 0 white;
	color: #999;
 }
 th {
	text-align: left;
	border-bottom: 1px solid #fff;
 }
 td {
	font-size: 14pt;
 }
 td:hover {
	background-color: #fff;
 }
 
 td.date {
    font-size: 14px;
 }
}

img.logo {
  position: relative;
  top :10px;
}

hr.frontpage {
  border-color: rgb(0,64,0);
}
.title-small {
  word-wrap:break-word;
  color: rgb(0,64,0);
}
.title {
  color: rgb(0,64,0);
}

.farmer-pic {
  max-width: 400px;
}

#picture-donate {
  img {
    margin: 15px 15px 15px 15px;

  }
}
#stripe-section {
  form {
    margin: 20px;
  }
}

.description {
  word-wrap: break-word;
}

#galleria {
  max-width: 80%;
  height: 400px;
  cursor: pointer;
}

#farmer-info.box-unit {
  padding: 5px 10px 5px 10px;
}

#farmer_info {
  padding-left: 10px;
} 

#vid {
  margin-left: 15px;
  float:right;}

#update{
  .box-unit {
    padding: 0px 15px 10px 15px;
  }
}

#footer{ 

  .title{
    color: white;
    font-family: 'Proxima Nova Light','Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 22px;
    line-height: 40px;
  }
  .content{
    color: white;
    font-family: 'Proxima Nova Light','Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 18px;
    line-height: 28px;
  }
  text-align: center; 
  background-color:#56a628; 
  a:link {text-decoration:none; color:black;}    /* unvisited link */
  a:visited {text-decoration:none; color:black;} /* visited link */
    
}  

#homeBoxes {
	overflow:hidden;
  margin-left:60px
}

#homeBoxes .homeBox {
	width:290px;
	float:left;
	margin-right:40px;
	background:url(images/bk_dotted_thick.png) 0 0 repeat-x;
}

#homeBoxes .homeBox img {
	border:6px solid #E2E2E2;
	background:#fff;
	padding:1px;
}

#homeBoxes .homeBox img:hover {
	border-color:#F9F9F9;
}


#homeBoxes .last{
	margin-right:0;
}

#homeBoxes .homeBox h2 {
	padding:10px 0 15px;
	color:#333;
	font-weight:normal;
	font-size:24px;
}

