$barColor : #4B9123;
$white: #FFFFFF;

.navbar{
  border-botton-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: darken($barColor, 9%);
  margin-bottom: 0;
}

#bar {
  height: 40px;
  padding-top: 5px;
  background-color: $barColor;
  color: $white;
  width: 100%;
  text-align: center;
  padding-top:10px;
  padding-bottom:10px;

  > .container > h3 {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
  }
}

.center {
  margin: 0 auto;
}

.project_sidebar {
  padding: 0;
  word-wrap: break-word;
}

.smallprojectlist {
  li {
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 0px;
  }
  .project-active {
    border-color: white;
    border-style: solid;
    border-width: 3px;
    margin-top: -3px;
    margin-left: -3px;
    margin-right: 17px;
    margin-bottom: 2px;
  }
  .project_details {
    float: left;
    margin-right: 20px;
    padding: 0;
    word-wrap: break-word;
    img {
      max-width: 150px;
      max-height: 150px;
    }
  }
}

.projectlist {
  .project_details {
    width: 250px;
    height: 250px;
    float: left;
    margin-right: 50px;
    word-wrap: break-word;
  }
}

.pagination {
  display: inline;
}
#project_link {
  vertical-align: top;
  margin-left: 30px;
}
input.video-select {
  height: 100%;
  margin-right: 40px;
  vertical-align: middle;
}
label.unstyled-label {
  margin-right: 20px;
}

#footer{ 

  .title{
    color: white;
    font-family: 'Proxima Nova Light','Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 22px;
    line-height: 40px;
  }
  .content{
    color: white;
    font-family: 'Proxima Nova Light','Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 18px;
    line-height: 28px;
  }
  text-align: center; 
  background-color:#56a628; 
  a:link {text-decoration:none; color:black;}    /* unvisited link */
  a:visited {text-decoration:none; color:black;} /* visited link */
    
}  
