
%div.container-fluid
  %div.row-fluid
    %div.span10
      %div.row-fluid
        %div.span12
          = image_tag("logo.jpg", :alt => "logo", :width => '100%')
      %br
      %br
      %div.row-fluid
        %div.span12
          %table#howItWorks
            %thead
              %tr
                %th.lead How It Works
            %tbody
              %tr
                %td 1. Sign up as a changemaker to start your campaign.
              %tr
                %td 2. Select your beneficiary from our database and record a short video on their behalf.
              %tr 
                %td 3. Send out the videos.
              %tr
                %td 4. Keep track of the impact of your campaign.
      %br
      %div.row-fluid
        %div{:class => "span offset4"}
          = button_to "Start Your Campaign", new_user_registration_path , :method => 'get', :class => 'btn btn-success'
    %div.span2
      %div{:class => 'row-fluid', :height => '300px'}
        = image_tag("farmers.jpg", :alt => 'a photo of farmers', :width => '100%', :class => 'img-rounded')
      %div.row-fluid
        = button_to "All Farmers", projects_path , :method => :get , :class => 'btn btn-success'



