#homeBoxes.clearfix
  .homeBox
    %h2 About Us
    %p
      %a{:href => "/about/"}
        =image_tag("aboutus.jpg", :alt => "About Us")
    %p OneProsper International Inc. is a new Canadian charitable organization.
    %p Our goal is to to harness innovation to end hunger and extreme poverty. Our board is comprised of a team of hard working professionals dedicated to ending hunger and extreme poverty.
    %p
      %span.st_facebook_buttons{:displayText => "share", :st_title => "Nov. 30, 2012 – A Night for Change Fundraiser", :st_url => "http://www.oneprosper.org/november-30-a-night-for-change-fundraiser/"}
      %span.st_twitter_buttons{:displayText => "share", :st_title => "Nov. 30, 2012 – A Night for Change Fundraiser", :st_url => "http://www.oneprosper.org/november-30-a-night-for-change-fundraiser/"}
      %span.st_email_buttons{:displayText => "share", :st_title => "Nov. 30, 2012 – A Night for Change Fundraiser", :st_url => "http://www.oneprosper.org/november-30-a-night-for-change-fundraiser/"}
      %span.st_sharethis_buttons{:displayText => "share", :st_title => "Nov. 30, 2012 – A Night for Change Fundraiser", :st_url => "http://www.oneprosper.org/november-30-a-night-for-change-fundraiser/"}
      %span.st_fblike_buttons{:displayText => "share", :st_title => "Nov. 30, 2012 – A Night for Change Fundraiser", :st_url => "http://www.oneprosper.org/november-30-a-night-for-change-fundraiser/"}
      %span.st_plusone_buttons{:displayText => "share", :st_title => "Nov. 30, 2012 – A Night for Change Fundraiser", :st_url => "http://www.oneprosper.org/november-30-a-night-for-change-fundraiser/"}

  .homeBox
    %h2 Our Mission
    %p
      %a{:href => "/mission/"}
        =image_tag("ourmission.jpg", :alt => "Our Mission")
    %p We provide small farmers in India with drip irrigation kits.
    %p Drip irrigation delivers small amounts of water directly to the root of the plant, resulting in a significant improvement in crop yields and incomes of smallholder farmers.
    %p
      %span.st_facebook_buttons{:displayText => "share", :st_title => "Nov. 30, 2012 – A Night for Change Fundraiser", :st_url => "http://www.oneprosper.org/november-30-a-night-for-change-fundraiser/"}
      %span.st_twitter_buttons{:displayText => "share", :st_title => "Nov. 30, 2012 – A Night for Change Fundraiser", :st_url => "http://www.oneprosper.org/november-30-a-night-for-change-fundraiser/"}
      %span.st_email_buttons{:displayText => "share", :st_title => "Nov. 30, 2012 – A Night for Change Fundraiser", :st_url => "http://www.oneprosper.org/november-30-a-night-for-change-fundraiser/"}
      %span.st_sharethis_buttons{:displayText => "share", :st_title => "Nov. 30, 2012 – A Night for Change Fundraiser", :st_url => "http://www.oneprosper.org/november-30-a-night-for-change-fundraiser/"}
      %span.st_fblike_buttons{:displayText => "share", :st_title => "Nov. 30, 2012 – A Night for Change Fundraiser", :st_url => "http://www.oneprosper.org/november-30-a-night-for-change-fundraiser/"}
      %span.st_plusone_buttons{:displayText => "share", :st_title => "Nov. 30, 2012 – A Night for Change Fundraiser", :st_url => "http://www.oneprosper.org/november-30-a-night-for-change-fundraiser/"}

  .homeBox.last
    %h2 Contact Us
    %p
      =image_tag("contactus.jpg", :alt => "contactus")
    %p Drip irrigation enables smallholder farmers to earn an additional $400 per year, on average. As a result, they are able to feed their malnourished children more nutritious food, milk and spend more on their books and schooling. Contact us now to know how you can make a difference. Together we can do wonders.
    %p
      %span.st_facebook_buttons{:displayText => "share", :st_title => "Nov. 30, 2012 – A Night for Change Fundraiser", :st_url => "http://www.oneprosper.org/november-30-a-night-for-change-fundraiser/"}
      %span.st_twitter_buttons{:displayText => "share", :st_title => "Nov. 30, 2012 – A Night for Change Fundraiser", :st_url => "http://www.oneprosper.org/november-30-a-night-for-change-fundraiser/"}
      %span.st_email_buttons{:displayText => "share", :st_title => "Nov. 30, 2012 – A Night for Change Fundraiser", :st_url => "http://www.oneprosper.org/november-30-a-night-for-change-fundraiser/"}
      %span.st_sharethis_buttons{:displayText => "share", :st_title => "Nov. 30, 2012 – A Night for Change Fundraiser", :st_url => "http://www.oneprosper.org/november-30-a-night-for-change-fundraiser/"}
      %span.st_fblike_buttons{:displayText => "share", :st_title => "Nov. 30, 2012 – A Night for Change Fundraiser", :st_url => "http://www.oneprosper.org/november-30-a-night-for-change-fundraiser/"}
      %span.st_plusone_buttons{:displayText => "share", :st_title => "Nov. 30, 2012 – A Night for Change Fundraiser", :st_url => "http://www.oneprosper.org/november-30-a-night-for-change-fundraiser/"}
   
